/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.usu-prof2-block {
  display: flex;
  background-color: white; }

.usu-prof2-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 1117px;
  flex-shrink: 0; }

.usu-prof2-block-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 96px; }

.usu-prof2-cover-block3 {
  display: flex;
  flex-direction: column;
  background-color: white; }

.usu-prof2-cover-block3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.usu-prof2-flex {
  display: flex;
  flex-direction: column; }

.usu-prof2-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 35px 23px; }

.usu-prof2-icon3 {
  background: var(--src) center center/contain no-repeat; }

.usu-prof2-icon3.layout {
  position: relative;
  height: 47px;
  width: 49px;
  min-width: 49px;
  margin: 0px 1px 0px 0px; }

.usu-prof2-cover-block2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px 12px 12px 12px; }

.usu-prof2-cover-block2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 14px 2px 0px 0px; }

.usu-prof2-flex1 {
  display: flex; }

.usu-prof2-flex1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 17px; }

.usu-prof2-flex1-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 5px; }

.usu-prof2-flex2 {
  display: flex;
  flex-direction: column; }

.usu-prof2-flex2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.usu-prof2-box11 {
  border: 1.5px solid #383c40; }

.usu-prof2-box11.layout {
  position: relative;
  height: 5px; }

.usu-prof2-box11.layout1 {
  position: relative;
  height: 5px;
  margin: 4px 0px 0px; }

.usu-prof2-flex1-spacer {
  flex: 0 1 4px; }

.usu-prof2-box11.layout2 {
  position: relative;
  height: 5px;
  margin: 4px 0px 0px; }

.usu-prof2-cover-group1 {
  display: flex;
  flex-direction: column; }

.usu-prof2-cover-group1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 18px 2px 0px 0px; }

.usu-prof2-box14 {
  background-color: #383c40;
  border-radius: 0.75px; }

.usu-prof2-box14.layout {
  position: absolute;
  top: 0px;
  height: 7px;
  left: 33px;
  right: 14px;
  margin: 25px 0px 16px; }

.usu-prof2-box15 {
  background-color: #383c40;
  border-radius: 0.75px; }

.usu-prof2-box15.layout {
  position: absolute;
  top: 0px;
  height: 12px;
  left: 39px;
  right: 8px;
  margin: 20px 0px 16px; }

.usu-prof2-box17 {
  background-color: #f1f7ff;
  border-radius: 12px 12px 12px 12px; }

.usu-prof2-box17.layout {
  position: relative;
  height: 48px; }

.usu-prof2-image2 {
  background: var(--src) center center/contain no-repeat; }

.usu-prof2-image2.layout {
  position: absolute;
  top: 0px;
  height: 19px;
  left: 0px;
  width: 17px;
  min-width: 17px;
  margin: 16px 15px 13px 16px; }

.usu-prof2-cover-group {
  display: flex;
  flex-direction: column; }

.usu-prof2-cover-group.layout {
  position: absolute;
  top: 27px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  bottom: 10px;
  left: 26px;
  right: 12px; }

.usu-prof2-box16 {
  background-color: #383c40;
  border-radius: 0.75px; }

.usu-prof2-box16.layout {
  position: absolute;
  top: 0px;
  height: 3px;
  left: 1px;
  right: 8px;
  margin: 2px 0px 6px; }

.usu-prof2-image3 {
  background: var(--src) center center/contain no-repeat; }

.usu-prof2-image3.layout {
  position: relative;
  height: 11px;
  width: 10px;
  min-width: 10px; }

.usu-prof2-group {
  display: flex;
  flex-direction: column; }

.usu-prof2-group.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 32px 15px 0px; }

.usu-prof2-flex4 {
  display: flex; }

.usu-prof2-flex4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.usu-prof2-flex4-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
  min-width: 2px; }

.usu-prof2-box9 {
  background-color: #383c40;
  border-radius: 0.75px; }

.usu-prof2-box9.layout {
  position: relative;
  height: 4px;
  margin: 13px 0px 0px; }

.usu-prof2-flex4-spacer {
  flex: 0 1 4px; }

.usu-prof2-box7 {
  background-color: #383c40;
  border-radius: 0.75px; }

.usu-prof2-box7.layout {
  position: relative;
  height: 11px;
  margin: 6px 0px 0px; }

.usu-prof2-box8 {
  background-color: #383c40;
  border-radius: 0.75px; }

.usu-prof2-box8.layout {
  position: relative;
  height: 17px; }

.usu-prof2-icon1 {
  background: var(--src) center center/contain no-repeat; }

.usu-prof2-icon1.layout {
  position: absolute;
  height: 23px;
  bottom: -14px;
  width: 22px;
  right: -3px; }

.usu-prof2-image {
  background: var(--src) center center/contain no-repeat; }

.usu-prof2-image.layout {
  position: relative;
  height: 17px;
  width: 18px;
  min-width: 18px;
  margin: 41px 19px 0px 13px; }

.usu-prof2-cover-block1 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/contain no-repeat; }

.usu-prof2-cover-block1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 43px 13px 736px 8px; }

.usu-prof2-icon2 {
  background: var(--src) center center/contain no-repeat; }

.usu-prof2-icon2.layout {
  position: relative;
  height: 6px;
  width: 6px;
  min-width: 6px;
  margin: 7px 12px 6px; }

.usu-prof2-block-spacer {
  flex: 0 1 435px; }

.usu-prof2-block-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 698px; }

.usu-prof2-flex5 {
  display: flex;
  flex-direction: column; }

.usu-prof2-flex5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 152px 0px 103px; }

.usu-prof2-hero-title {
  display: flex;
  justify-content: center;
  font: 700 34px/1.35 "DM Sans", Helvetica, Arial, serif;
  color: #170f49;
  text-align: center;
  letter-spacing: 0px; }

.usu-prof2-hero-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.usu-prof2-highlights3 {
  display: flex;
  justify-content: center;
  font: 18px/1.66 "DM Sans", Helvetica, Arial, serif;
  color: #6e6b8f;
  text-align: center;
  letter-spacing: 0px; }

.usu-prof2-highlights3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0px 0px; }

.usu-prof2-cover-block9 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.0588235);
  border: 1px solid #eff0f6;
  border-radius: 34px 34px 34px 34px; }

.usu-prof2-cover-block9.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 83px 0px 0px; }

.usu-prof2-flex6 {
  display: flex;
  flex-direction: column; }

.usu-prof2-flex6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 86.82%;
  margin: 32px auto; }

.usu-prof2-flex7 {
  display: flex; }

.usu-prof2-flex7.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 30px; }

.usu-prof2-flex7-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 34px; }

.usu-prof2-cover-block7 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/contain no-repeat; }

.usu-prof2-cover-block7.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 250%; }

.usu-prof2-highlights {
  font: 500 16px/1.12 "DM Sans", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px; }

.usu-prof2-highlights.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 8px 10px 8px 14px; }

.usu-prof2-flex7-spacer {
  flex: 0 1 18px; }

.usu-prof2-flex7-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 99px; }

.usu-prof2-box1 {
  background-color: #0e6dff;
  border-radius: 3px 3px 3px 3px; }

.usu-prof2-box1.layout {
  position: relative;
  height: 6px;
  margin: 14px 0px; }

.usu-prof2-cover-block5 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/contain no-repeat; }

.usu-prof2-cover-block5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 320%; }

.usu-prof2-highlights1 {
  font: 16px/1.43 "DM Sans", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px; }

.usu-prof2-highlights1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 5px 7px 6px 13px; }

.usu-prof2-flex7-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 98px; }

.usu-prof2-box2 {
  background-color: #0e6dff;
  border-radius: 3px 3px 3px 3px; }

.usu-prof2-box2.layout {
  position: relative;
  height: 6px;
  margin: 14px 0px; }

.usu-prof2-highlights1.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 5px 8px 6px 12px; }

.usu-prof2-flex7-item3 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 98px;
  left: 24%; }

.usu-prof2-cover-block8 {
  display: flex;
  flex-direction: column;
  background-color: #eff0f6;
  border-radius: 3px 3px 3px 3px; }

.usu-prof2-cover-block8.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 14px 0px; }

.usu-prof2-box4 {
  background-color: #0e6dff;
  border-radius: 3px 3px 3px 3px; }

.usu-prof2-box4.layout {
  position: relative;
  height: 6px;
  width: 49px;
  min-width: 49px; }

.usu-prof2-cover-block4 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/contain no-repeat; }

.usu-prof2-cover-block4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.usu-prof2-highlights2 {
  font: 16px/1.43 "DM Sans", Helvetica, Arial, serif;
  color: #6e6b8f;
  letter-spacing: 0px; }

.usu-prof2-highlights2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 5px 8px 6px 12px; }

.usu-prof2-line {
  background-color: #d9dbe9; }

.usu-prof2-line.layout {
  position: relative;
  height: 1px;
  margin: 32px 9px 0px 0px; }

.usu-prof2-medium-title {
  font: 700 24px/1.45 "DM Sans", Helvetica, Arial, serif;
  color: #170f49;
  letter-spacing: 0px; }

.usu-prof2-medium-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 20px 0px 0px; }

.usu-prof2-highlights31 {
  font: 18px/1.66 "DM Sans", Helvetica, Arial, serif;
  color: #6e6b8f;
  letter-spacing: 0px; }

.usu-prof2-highlights31.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.usu-prof2-cover-block {
  display: flex;
  flex-direction: column;
  background-color: #f7f8fc; }

.usu-prof2-cover-block.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 23px 20px 37px 6px; }

.usu-prof2-highlights5 {
  font: 18px/1.66 "DM Sans", Helvetica, Arial, serif;
  color: #9ea2b1;
  letter-spacing: 0px;
   }

.usu-prof2-highlights5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 14px 24px 286px;
  border: 0px;
  color: #9ea2b1;
 }

.usu-prof2-flex8 {
  display: flex; }

.usu-prof2-flex8.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 24px 0px 0px; }

.usu-prof2-flex8-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 192px; }

.usu-prof2-block4 {
  display: flex;
  flex-direction: column;
  border: 1px solid #4a3aff;
  border-radius: 30px 30px 30px 30px; }

.usu-prof2-block4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 1px; }

.usu-prof2-highlights6 {
  display: flex;
  justify-content: center;
  font: 18px/1.11 "DM Sans", Helvetica, Arial, serif;
  color: #4a3aff;
  text-align: center;
  letter-spacing: 0px; }

.usu-prof2-highlights6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 19px 37.5px 21px; }

.usu-prof2-flex8-spacer {
  flex: 0 1 327px; }

.usu-prof2-flex8-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 162px; }

.usu-prof2-block1 {
  display: flex;
  flex-direction: column;
  background-color: #0e6dff;
  box-shadow: 0px 3px 12px 0px rgba(73, 57, 255, 0.176471);
  border-radius: 30.5px 30.5px 30.5px 30.5px; }

.usu-prof2-block1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
 }

.usu-prof2-highlights4 {
  display: flex;
  justify-content: center;
  font: 700 18px/1.11 "DM Sans", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
  padding-left: 15%; }

.usu-prof2-highlights4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: 100%;
  margin: 20px 38px 21px;
  border: 0px;
  width: 80%;
  top: -35%; }

.usu-prof2-block-spacer1 {
  flex: 0 1 256px; }

.usu-prof2-block-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 46px; }

.usu-prof2-block2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 23px 23px 23px 23px; }

.usu-prof2-block2.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 35px 0px 1036px; }

.usu-prof2-icon4 {
  background: var(--src) center center/contain no-repeat; }

.usu-prof2-icon4.layout {
  position: relative;
  height: 22px;
  width: 22px;
  min-width: 22px;
  margin: 12px; }

.usu-prof2-block-spacer2 {
  flex: 0 1 15px; }

.usu-prof2-block-item3 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 46px; }

.usu-prof2-block3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 23px 23px 23px 23px; }

.usu-prof2-block3.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 35px 0px 1036px; }

.usu-prof2-image4 {
  background: var(--src) center center/contain no-repeat; }

.usu-prof2-image4.layout {
  position: relative;
  height: 22px;
  width: 18px;
  min-width: 18px;
  margin: 12px 14px; }

.usu-prof2-block-spacer3 {
  flex: 0 1 15px; }

.usu-prof2-block-item4 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 121px; }

.usu-prof2-icon5 {
  background: var(--src) center center/contain no-repeat; }

.usu-prof2-icon5.layout {
  position: relative;
  height: 46px;
  width: 46px;
  min-width: 46px;
  margin: 35px 75px 1036px 0px; }
